@model InvoiceViewModel
@{
    ViewData["Title"] = "EditInvoice";
}

<div class="col-11 shadow" style="padding-bottom:20px;padding-top:20px;">
    <center>
        <h1>
            Edit: @Model.InvoiceNumber
            <a class="btn btn-warning btn-xs" onclick="Enable()"><i class="fas fa-edit"></i></a>
        </h1>
        <small>Created by: @Model.InvoiceUser.Firstname, @Model.InvoiceUser.Lastname</small>
    </center><br />
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <label for="Reference">Select the reference:</label>
            </h4>
            <select class="custom-select d-block w-100" id="References" name="References" required disabled>
                @foreach (var supplier in Model.ListOfReferences)
                {
                    <option value="@supplier.ID">@supplier.CompanyName</option>
                }
            </select><br />
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">@Model.InvoiceReference.CompanyName</h6>
                        <small class="text-muted">Contactname: @Model.InvoiceReference.ContactName</small><br />
                        <small class="text-muted">Address 1: @Model.InvoiceReference.Address, @Model.InvoiceReference.Zipcode</small><br />
                        <small class="text-muted">Address 2: @Model.InvoiceReference.Place, @Model.InvoiceReference.Country</small><br />
                        <small class="text-muted">IBAN: @Model.InvoiceReference.IBAN</small><br />
                        <small class="text-muted">VAT: @Model.InvoiceReference.VAT</small><br />
                        <small class="text-muted">
                            Doubtfull: @if (Model.InvoiceReference.Doubtfull)
                            {<i class="fas fa-check"></i> }
                            else
                            {<i class="fas fa-ban"></i>}
                        </small><br />
                        <small class="text-muted">Note: @Model.InvoiceReference.Note</small>
                    </div>
                    <span class="text-muted">@Model.InvoiceReference.ID</span>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <div class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="InvoiceNumber">Invoicenumber:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Debit</span>
                            </div>
                            <input type="text" class="form-control" id="Invoicenumber" placeholder="Invoicenumber..." value="@Model.InvoiceNumber" required disabled>
                            <div class="invalid-feedback">
                                Valid invoicenumber is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Invoicetype">Invoicetype:</label>
                        <select class="custom-select d-block w-100" id="InvoiceType" onchange="CheckInvoiceType(this)" name="InvoiceType" asp-for="SingleInvoice.TypeOfInvoice" required disabled>
                            @foreach (var InvType in Enum.GetNames(typeof(InvoiceViewModel.InvoiceType)))
                            {
                                <option value="@InvType">@InvType</option>
                            }
                        </select><br />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Invoice date:</label>
                        <div class="input-group">
                            <input class="form-control" id="idate" name="date" placeholder="MM/DD/YYYY" type="text" disabled/>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Payment date:</label>
                        <div class="input-group">
                            <input class="form-control" id="pdate" name="date" placeholder="MM/DD/YYYY" type="text" disabled/>
                        </div>
                    </div>
                </div><br />
                <div class="mb-3">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    <div class="list-group mb-3">
                        <ul id="AddedItems" class="list-group bm-3">
                            @foreach (var item in Model.InvoiceOrder.OrderItem)
                            {
                                <li id="@item.ItemID" class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <h6 class="my-0">@item.ProductName</h6>
                                        <small class="text-muted" style="max-width:10em; display: inline-grid; word-wrap: break-word;">@item.Description</small>
                                    </div>
                                    <div><h6 class="my-0">Amount name</h6><input id="amountof+@item.ItemID" class="form-control form-control-sm" type="number" value="1" min="0" max="1000" step="1" style="margin-top:10px;" /></div>
                                    <strong><a id="Del'@item.ItemID'" onclick="DeleteItem(this)" class="text-danger" hidden>Delete</a></strong><span class="text-muted">@item.Price</span>
                                </li>
                            }
                        </ul>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (EU)</span>
                            <strong id="TotalAmount">€0</strong>
                        </li>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <button id="ModalOpener" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ItemContainer" hidden>Add item</button>
                </div>
                <hr id="splitter" class="mb-4" hidden>
                <button id="SaveBTN" onclick="SubmitInvoice()" class="btn btn-primary btn-lg btn-block" type="submit" hidden>Save invoice</button>
                <button id="cancelBTN" onclick="Disable()" class="btn btn-outline-danger btn-sm btn-block" hidden>Cancel</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ItemContainer" tabindex="-1" role="dialog" aria-labelledby="AddItem" aria-hidden="true" data-dismiss="DisableButton()">
        <div class="modal-dialog modal-dialog-centered" role="document" oncancel="DisableButton()">
            <div class="modal-content" oncancel="DisableButton()">
                <div class="modal-header">
                    <h5 class="modal-title" id="ItemContainer">Select the item you want to add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Example multiple select</label>
                        <select multiple class="form-control" id="NewItem" onchange="EnableButton()" asp-for="items">
                            @foreach (var items in Model.items)
                            {
                                <option value="@items.ItemID:@items.Price:@items.Description:@items.ProductName">@items.ProductName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-outline-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning">Manage items</button>
                    <button id="btnAddItem" type="button" class="btn btn-primary" onclick="AddItem()" disabled>Add to invoice</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var startID = "";
    function SubmitInvoice() {
        var References = document.getElementById("References").value;
        var Invoicenumber = document.getElementById("Invoicenumber").value;
        var InvoiceType = document.getElementById("InvoiceType").value;
        var Items = document.querySelectorAll("#AddedItems li[id]");
        var idate = document.getElementById("idate").value;
        var pdate = document.getElementById("pdate").value;
        var istatus = true;
        var userID = "@Model.InvoiceUser.ID";
        var orderlist = [] ;
        for (var i = 0; i < Items.length; i++) {
            var Newamount = document.getElementById("amountof" + Items[i].id);
            var Oldamount = document.getElementById("amountof+" + Items[i].id);
            if (Newamount != null) {
                orderlist.push(JSON.stringify({ itemID: Items[i].id, amount: Newamount.value }));
            }
            else {
                orderlist.push(JSON.stringify({ itemID: Items[i].id, amount: Oldamount.value }));
            }
        }
        console.log(orderlist);
        $.ajax({
            type: "Post",
            dataType: "json",
            url: '/Invoice/SaveInvoice',
            traditional: true,
            data: {
                'id': Invoicenumber,
                'invoiceType': InvoiceType,
                'orderlist': orderlist,
                'referenceID': References,
                'invoiceDate': idate,
                'paymentDate': pdate,
                'userID': userID,
                'paymentStatus': istatus,
            },
            success: function () {
                console.log("geslaagd!");
            }
        });
    }
    function Enable() {
        startID = "@Model.InvoiceNumber";
        document.getElementById("References").disabled = false;
        document.getElementById("Invoicenumber").disabled = false;
        document.getElementById("InvoiceType").disabled = false;
        document.getElementById("idate").disabled = false;
        document.getElementById("pdate").disabled = false;
        document.getElementById("ModalOpener").hidden = false;
        document.getElementById("SaveBTN").hidden = false;
        document.getElementById("splitter").hidden = false;
        document.getElementById("cancelBTN").hidden = false;
        @foreach (var item in Model.InvoiceOrder.OrderItem)
        {
            <Text>
        document.getElementById("Del'@item.ItemID'").hidden = false;
            </text>
        }
    }
    function Disable() {
        document.getElementById("References").disabled = true;
        document.getElementById("Invoicenumber").disabled = true;
        document.getElementById("InvoiceType").disabled = true;
        document.getElementById("idate").disabled = true;
        document.getElementById("pdate").disabled = true;
        document.getElementById("ModalOpener").hidden = true;
        document.getElementById("SaveBTN").hidden = true;
        document.getElementById("splitter").hidden = true;
        document.getElementById("cancelBTN").hidden = true;
        @foreach (var item in Model.InvoiceOrder.OrderItem)
        {
            <Text>
        document.getElementById("Del'@item.ItemID'").hidden = true;
            </text>
        }
    }
    var AllItems = [];
    var returnItems = [];
    var parsed = "";
    function AddItem() {
        var e = document.getElementById("NewItem");
        _id = e.options[e.selectedIndex].value;
        var checkid = _id.split(":")[0];
        var name = _id.split(":")[3];
        var desc = _id.split(":")[2];
        var price = _id.split(":")[1];
        console.log(returnItems.length);
        console.log(returnItems.length == 0);
        if (returnItems.length == 0) {
            console.log("Halooo");
            returnItems.push(_id.split(":"));
            PrintDIV(checkid, name, desc, price, true);
        }
        else {
            IsAllreadyAdded(checkid, name, desc, price);
        }
    };
    function IsAllreadyAdded(ID, Name, Desc, Price) {
        returnItems.forEach(function (item, index) {
            if (item[0] == ID) {
                console.log("werkt");
                AddAmount(ID);
            }
            else {
                PrintDIV(ID, Name, Desc, Price, true);
            }
        });
    }
    function PrintDIV(ID, Name, Description, Price, Add) {
        if (Add) {
            var div = '<li id="' + ID + '" class="list-group-item d-flex justify-content-between lh-condensed"><div><h6 class="my-0">' + Name + '</h6><small class="text-muted" style="max-width:10em; display: inline-grid; word-wrap: break-word;">' + Description + '</small></div ><div><h6 class="my-0">Amount name</h6><input id="amountof' + ID + '" class="form-control form-control-sm" type="number" value="1" min="0" max="1000" step="1" style="margin-top:10px;" /></div><strong><a id="' + ID + '" onclick="DeleteItem(this)" class="text-danger">Delete</a></strong><span class="text-muted">' + Price + '</span></li >';
            document.getElementById("AddedItems").innerHTML += div;
        }
        else {
            document.getElementById(ID).remove();
        }
    }
    function AddAmount(ID) {
        var currentDIV = document.getElementById("amountof" + ID);
        var currentAmount = parseInt(document.getElementById("amountof" + ID).value);
        console.log(currentDIV.value = currentAmount + 1);
        currentDIV.value = currentAmount + 1;
    }
    function EnableButton() {
        var a = document.getElementById("btnAddItem");
        a.disabled = false;
    };
    function DisableButton() {
        var a = document.getElementById("btnAddItem");
        a.disabled = true;
    };
    function CheckInvoiceType(nameSelect) {
        if (nameSelect) {
            SelectedType = document.getElementById("InvoiceType");
            var SelectedOption = SelectedType.options[SelectedType.selectedIndex].value;
            console.log(SelectedOption);

            if (SelectedOption == "Sale") {
                document.getElementById("Sale").style.display = "block";
                document.getElementById("Purchase").style.display = "none";
                document.getElementById("CR").style.display = "none";
            }
            else if (SelectedOption == "CreditNote") {
                document.getElementById("Sale").style.display = "none";
                document.getElementById("Purchase").style.display = "none";
                document.getElementById("CR").style.display = "block";
            }
            else if (SelectedOption == "Purchase") {
                document.getElementById("Sale").style.display = "none";
                document.getElementById("Purchase").style.display = "block";
                document.getElementById("CR").style.display = "none";
            }
            else {
                document.getElementById("Sale").style.display = "none";
                document.getElementById("CR").style.display = "none";
            }
        }
        else {
            document.getElementById("Sale").style.display = "none";
            document.getElementById("CR").style.display = "none";
        }
    }
</script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $("#AddItem").click(function () {
                $("#ItemContainer").modal("hide");
            });

            $("#ItemContainer").on('hide.bs.modal', function () {
                DisableButton();
            });
        });
    </script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<script>
    $(document).ready(function () {
        var date_input = $('input[name="date"]');
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>